

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family:  "Montserrat", sans-serif;
    font-size: 13px;
    line-height: 18px;
}

.title{
    font-size: 70px;
    color: #515076;
    line-height: 78px;
    margin-top: 220px;
    text-align: center;
    padding: 0px;
    font-weight: 400;
}

.product-cards{
    list-style: none;
    background-color: #F7F7FA;
    width: 340px;

}

.description{
    color: #A5A3B9;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 25px ;
    text-transform: uppercase;
}

.product-photo{
    width:290px;
    height: 245px;
    margin-left: 25px;
    margin-top: 25px;
}

.product{
    color: #515076;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    margin-left: 25px;

}

.text{
    color: #515076;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-left: 25px;
    padding-right: 25px;
}

.product-sell{
    margin-left: 25px;
    color: #515076;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 25px;
}

.price{
    display: inline-block;
    margin-left: 170px;
}

.product-cards-all{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 35px;
    justify-content: center;
}

.background-image{
    background-image: url("img/bg_1.png");
    background-repeat: no-repeat;
}