
@font-face {
    font-family: 'Montserrat';
    src: url('path/to/montserrat.woff2') format('woff2'),
         url('path/to/montserrat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 1280px;
    height: 1715px;
    background-image: url('img/bg_1.jpg');
    background-size: 790px;
    background-position: 15% 0%;
    background-repeat: no-repeat; 
    font-family: 'Montserrat', sans-serif;
 }
 

.product{
    margin-top: 220px;
    text-align: center;
    font-size: 70px;
    color: #515076;
    
}
.photo{
    width:290px;
    height: 245px;
    margin-left: 5px;
    margin-top: 45px;
}
.muss{
    width: 340px;
    height: 573px;
    position: absolute;
    top: 408px ;
    left: 85px;
    background-color: #F7F7FA;
    color:  #515076;
    

}
.text{
    margin-left: 25px ;
}
.textColor{
   color:  #A5A3B9; 
}
.sell{
    font-size: 20px;
}
.price{
    font-size: 20px;
    margin-left: 170px;
}
.ellipse{
    list-style-type:circle ;
}
.muss1{
    width: 340px;
    height: 573px;
    position: absolute;
    top: 408px ;
    left: 470px;
    background-color: #F7F7FA;
    color:  #515076;
}
.muss2{
    width: 340px;
    height: 573px;
    position: absolute;
    top: 408px ;
    left: 855px;
    background-color: #F7F7FA;
    color:  #515076;
}
.muss3{
    width: 340px;
    height: 573px;
    position: absolute;
    top: 1026px ;
    left: 277px;
    background-color: #F7F7FA;
    color:  #515076;
}
.muss4{
    width: 340px;
    height: 573px;
    position: absolute;
    top: 1026px ;
    left: 662px;
    background-color: #F7F7FA;
    color:  #515076;
}
.li{
    list-style: none;
}