body{
    font-family: Arial, sans-serif; ;
    font-size: 13px;
    width: 1280px;
    height: 1715px;
}

.title{
    font-size: 70px;
    color: #515076;
    line-height: 78px;
    margin-top: 220px;
    text-align: center;
    padding: 0px;
    font-weight: 400;
}

.muss{
    list-style: none;
    background-color:  #F7F7FA;
    width: 340px;
    height: 573px;
}
.textColor{
    color: #A5A3B9;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 25px;
}
.photo{
    width:290px;
    height: 245px;
    margin-left: 25px;
    margin-top: 25px;
}
.product{
    color: #515076;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    margin-left: 25px;

}
.text{
    color: #515076;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-left: 25px;
}
.sell{
    color:#515076;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 25px;

}
.price{
    color:#515076;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 145px;
}
















/*
@font-face {
    font-family: 'Montserrat';
    src: url('path/to/montserrat.woff2') format('woff2'),
         url('path/to/montserrat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 1280px;
    height: 1715px;
    background-image: url('img/bg_1.jpg');
    background-size: 790px;
    background-position: 15% 0%;
    background-repeat: no-repeat; 
    font-family: 'Montserrat', sans-serif;
 }
 
.photo{
    width:290px;
    height: 245px;
    margin-left: 25px;
    margin-top: 25px;
}
.muss{
    width: 340px;
    height: 573px;
    position: absolute;
    top: 408px ;
    left: 85px;
    background-color: #F7F7FA;
    color:  #515076;
}
.text{
    margin-left: 25px ;
}
.textColor{
   color:  #A5A3B9; 
}
.sell{
    font-size: 20px;
}
.price{
    font-size: 20px;
    margin-left: 170px;
}
.ellipse{
    list-style-type:circle ;
}
.muss1{
    width: 340px;
    height: 573px;
    position: absolute;
    top: 408px ;
    left: 470px;
    background-color: #F7F7FA;
    color:  #515076;
}
.muss2{
    width: 340px;
    height: 573px;
    position: absolute;
    top: 408px ;
    left: 855px;
    background-color: #F7F7FA;
    color:  #515076;
}
.muss3{
    width: 340px;
    height: 573px;
    position: absolute;
    top: 1026px ;
    left: 277px;
    background-color: #F7F7FA;
    color:  #515076;
}
.muss4{
    width: 340px;
    height: 573px;
    position: absolute;
    top: 1026px ;
    left: 662px;
    background-color: #F7F7FA;
    color:  #515076;
}
#il{
    list-style: none;
}
*/